!!!
%html
  %head
    %title Annual Wholesale Trade Report
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.skin-yellow
    .wrapper
      / Main Header
      %header.main-header
        / Logo
        %a.logo{:href => '/'}
          %b> Wholesale Trade
        %nav.navbar.navbar-static-top{:role => 'navigation'}
          %a.sidebar-toggle{'data-toggle' => 'offcanvas', :href => '#', :role => 'button'}
            %span.sr-only Toggle navigation
      %aside.main-sidebar
        %section.sidebar
          = render_navigation :expand_all => true
      .content-wrapper
        = yield
      %footer.main-footer
        %strong
          Copyright © 2015
          = succeed '.' do
            %a{:href => '#'} ChanChungHao
        All rights reserved.